<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvxujAMDEa0LC30woRy8B4yU1VCU-uoKs</string>
	<key>GCM_SENDER_ID</key>
	<string>926999923553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetfinal</string>
	<key>PROJECT_ID</key>
	<string>messagerie-3809f</string>
	<key>STORAGE_BUCKET</key>
	<string>messagerie-3809f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926999923553:ios:f2a0c20c432a1e71b39320</string>
</dict>
</plist>